<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <app-field-error [errors]="errors" field="username"></app-field-error>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input
      matInput
      type="text"
      autocomplete="username"
      formControlName="username"
    />
  </mat-form-field>
  <app-field-error [errors]="errors" field="password"></app-field-error>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      autocomplete="current-password"
      formControlName="password"
    />
    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <button mat-raised-button [disabled]="!loginForm.valid" type="submit">
    Login
  </button>
</form>
