<mat-sidenav-container>
  <mat-sidenav
    class="sidenav"
    [mode]="overlay ? 'over' : 'side'"
    [(opened)]="opened"
  >
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="localchat-image"></div>
        <mat-card-title>{{ title }}</mat-card-title>
        <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-nav-list>
      <ng-template ngFor let-conv [ngForOf]="conversations">
        <a
          mat-list-item
          class="conversation-link-item"
          [disableRipple]="true"
          [activated]="conversationId === conv.id"
          [routerLink]="'/chat/' + conv.id"
          lines="1"
          matListItemTitle
          [matBadge]="conv.unreadCount"
          [matBadgeHidden]="conv.unreadCount === 0"
          matBadgeColor="accent"
        >
          {{ conv.name }}
        </a>
        <mat-divider></mat-divider>
      </ng-template>
    </mat-nav-list>
    <a mat-button class="conversation-add-button" (click)="createConv.emit()">
      <span><mat-icon>add</mat-icon></span
      >
    </a>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
