:host {
  flex-grow: 1;
}

.mat-sidenav-container {
  height: 100%;
}

.sidenav {
  width: 15em;
  display: flex;
  flex-flow: column;

}

.conversation-link-item, .conversation-add-button {
  width: 100%;
}

.conversation-add-button span {
  text-align: center;
  font-weight: bold;
}

a .mat-mdc-list-item--activated {
  color: inherit;
  background-color: inherit;
}

:host ::ng-deep .mat-badge-content {
  right: 17px !important;
  top: 14px !important;
}
