:host {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}
.search-section {
  display: block;
  width: 12em;
}

.switch-section {
  display: flex;
  font-size: 12px;
}

.switch-section span{
  line-height: 40px;
}

.regex-checkbox {
  margin-left: 0;
  font-size: 10px;
}

.mat-input-element{
  font-size: 14px;
  margin-right: 0.5em;
}

.hidden {
  display: none;
}
