<ng-template [ngIf]="searchItemCount$ | async">
<small>{{ (searchItemIndex$ | async) + 1 }} / {{ searchItemCount$ | async  }}</small>
<button
  mat-icon-button
  aria-label="Previous"
  (click)="previousItem()"
>
  <mat-icon>keyboard_arrow_down</mat-icon>
</button>
<button
  mat-icon-button
  aria-label="Next"
  (click)="nextItem()"
>
  <mat-icon>keyboard_arrow_up</mat-icon>
</button>
</ng-template>
<mat-checkbox
  *ngIf="!searchCollapsed"
  class="regex-checkbox"
  matTooltip="Search by Regex"
  [(ngModel)]="regex"
  (ngModelChange)="searchUpdate(); searcher.focus()"
></mat-checkbox>
<button
  mat-icon-button
  class="search-button"
  aria-label="Search"
  (click)="focusSearch()"
>
  <mat-icon>search</mat-icon>
</button>
<div class="search-section" [class.hidden]="searchCollapsed">
  <mat-form-field>
    <input
      #searcher
      name="searchField"
      matInput
      type="text"
      (focus)="focused = true"
      (blur)="focused = false"
      (keydown)="keydown($event)"
      [(ngModel)]="searchText"
      (ngModelChange)="searchUpdate()"
    />
  </mat-form-field>
  <button
    mat-icon-button
    [class.hidden]="isClear"
    class="clear-button"
    aria-label="Clear"
    (click)="searchText = ''; searchUpdate(); searcher.focus()"
  >
    <mat-icon>clear</mat-icon>
  </button>
</div>
