:host {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}
.search-section {
  display: flex;
  align-items: center;
  width: 12em;
}


.regex-checkbox {
  margin-left: 0;
}

.mat-input-element{
  font-size: 14px;
  margin-right: 0.5em;
}

.hidden {
  display: none;
}
