<div class="switch-section" *ngIf="!isClear">
  <button
    mat-icon-button
    class="switch-button"
    aria-label="Next"
    [disabled]="(searchItemCount$ | async) ?? 0"
    (click)="nextItem()"
  >
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button>
  <span
    >{{ ((searchItemIndex$ | async) ?? -1) + 1 }}/{{ (searchItemCount$ | async) ?? 0 }}</span
  >
  <button
    mat-icon-button
    class="switch-button"
    aria-label="Previous"
    [disabled]="(searchItemCount$ | async) ?? 0"
    (click)="previousItem()"
  >
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
</div>
<mat-checkbox
  *ngIf="!searchCollapsed"
  class="regex-checkbox"
  matTooltip="Enable Search by Regex"
  [(ngModel)]="regex"
  (ngModelChange)="searchUpdate()"
  >{{ isClear ? "Regex-Search" : "" }}</mat-checkbox
>
<button
  mat-icon-button
  class="search-button"
  aria-label="Search"
  (click)="focusSearch()"
>
  <mat-icon>search</mat-icon>
</button>
<mat-form-field class="search-field" [class.hidden]="searchCollapsed">
  <input
    #searcher
    name="searchField"
    matInput
    type="search"
    appEnterKeydown
    (focus)="focused = true"
    (blur)="focused = false"
    (enterKeydown)="enterKeydown($event)"
    (escapeKeydown)="escapeKeydown($event)"
    [(ngModel)]="searchText"
    (ngModelChange)="searchUpdate(false)"
  />
  <button
    mat-icon-button
    [class.hidden]="isClear"
    class="clear-button"
    aria-label="Clear"
    (click)="searchText = ''; searchUpdate()"
  >
    <mat-icon>clear</mat-icon>
  </button>
</mat-form-field>
