<mat-toolbar>
  <button
    mat-icon-button
    (click)="sidenav.toggle()"
    aria-label="Toggle Sidenav"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <ng-template [ngIf]="!saveSpace">
    <span class="title">{{ toolbarTitle$ | async }}</span>
  </ng-template>
  <span class="spacer"></span>
  <app-searcher (toggle)="searchOpen = $event" *ngIf="isChatOpen$ | async">
  </app-searcher>
  <ng-template [ngIf]="isSettingsOpen$ | async">
    <button mat-icon-button aria-label="Back" (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </ng-template>
  <ng-template [ngIf]="isMembersOpen$ | async">
    <button mat-icon-button aria-label="Back" (click)="backToChat()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </ng-template>
  <ng-template [ngIf]="(isChatOpen$ | async) && !saveSpace">
    <button
      [disabled]="(conversationId$ | async) === -1"
      mat-icon-button
      aria-label="Open Conversation Menu"
      [routerLink]="'/members/' + (conversationId$ | async)"
    >
      <mat-icon>list</mat-icon>
    </button>
  </ng-template>
  <ng-template [ngIf]="!(isSettingsOpen$ | async) && !saveSpace">
    <button mat-icon-button aria-label="Open settings" routerLink="/settings">
      <mat-icon>settings</mat-icon>
    </button>
  </ng-template>
</mat-toolbar>

<app-sidenav
  #sidenav
  [title]="selfName$ | async"
  [opened]="isSideNavOpen$ | async"
  (openedChange)="sidenavChange($event)"
  (createConv)="addConversation()"
  [conversationId]="conversationId$ | async"
  [conversations]="conversations$ | async"
  [overlay]="smallLayout"
>
  <mat-progress-bar
    *ngIf="isGlobalLoading$ | async"
    mode="query"
  ></mat-progress-bar>
  <router-outlet></router-outlet>
</app-sidenav>
