.spacer {
  flex: 1 1 auto;
}

.title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

:host {
  display: flex;
  height: 100%;
  width: 100%;
  flex-flow: column;
}

/*
:host ::ng-deep .mat-mdc-drawer-content {
  overflow: hidden;
}
*/
