@use "@angular/material" as mat;
// See https://material.angular.io/guide/theming

@include mat.core();

$localchat-app-primary: mat.define-palette(mat.$grey-palette, 500, 100, 700, 100);
$localchat-app-accent: mat.define-palette( mat.$blue-grey-palette, A200, A100, A400);
$localchat-app-accent2: mat.define-palette( mat.$indigo-palette, A200, A100, A400);

$localchat-app-warn: mat.define-palette(mat.$orange-palette);

$localchat-app-theme: mat.define-dark-theme(
  (
    color: (
      primary: $localchat-app-primary,
      accent: $localchat-app-accent,
      warn: $localchat-app-warn,
    ),
  )
);

.shaded-background {
  background-color: mat.get-color-from-palette($localchat-app-primary, 800);
}

.message-list a:visited {
  color: mat.get-color-from-palette($localchat-app-warn, 100);
}
.message-list a:visited:hover {
  color: mat.get-color-from-palette($localchat-app-warn, 200);
}

.message-list a:link {
  color: mat.get-color-from-palette($localchat-app-warn, 500);
  text-shadow: 1px 1px darkslategray;
}

.message-list a:link:hover {
  color: mat.get-color-from-palette($localchat-app-warn, 700);
}

.msg-color-1 {
  background-color: mat.get-color-from-palette($localchat-app-accent2, 900);
}

.msg-color-2 {
  background-color: mat.get-color-from-palette($localchat-app-accent2, 700);
}

.msg-color-3 {
  background-color: mat.get-color-from-palette($localchat-app-accent2, 500);
}

.msg-color-4 {
  background-color: mat.get-color-from-palette($localchat-app-primary, 600);
}

.msg-color-5 {
  background-color: mat.get-color-from-palette($localchat-app-primary, 700);
}

.msg-color-6 {
  background-color: mat.get-color-from-palette($localchat-app-primary, 800);
}
.msg-color-6 {
  background-color: mat.get-color-from-palette($localchat-app-primary, 900);
}
.msg-color-8 {
  background-color: mat.get-color-from-palette($localchat-app-accent, 700);
}
.msg-color-9 {
  background-color: mat.get-color-from-palette($localchat-app-accent, 800);
}
.msg-color-10 {
  background-color: mat.get-color-from-palette($localchat-app-accent, 900);
}
.msg-color-11 {
  background-color: mat.get-color-from-palette($localchat-app-accent, 500);
}
.msg-color-12 {
  background-color: mat.get-color-from-palette($localchat-app-accent, 600);
}

/* width */
::-webkit-scrollbar {
  width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
  background: mat.get-color-from-palette($localchat-app-primary, 800);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: mat.get-color-from-palette($localchat-app-primary, 600);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: mat.get-color-from-palette($localchat-app-primary, 500);
}

@include mat.all-component-themes($localchat-app-theme);

@import "assets/google-web-font-gstatic.css";

body {
  margin: 0px;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  font-family: "Roboto", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: mat.get-color-from-palette($localchat-app-primary, 600) mat.get-color-from-palette($localchat-app-primary, 800);
}

.localchat-image {
  background-image: url("./favicon.ico");
  background-size: cover;
}
