.main-column {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  align-items: center;
}

.auth-tab-group {
  flex: 1 1 0;
  max-width: 20em;

  ::ng-deep {
    div {
      flex-grow: 1;
    }
  }
}



